@charset "UTF-8";

div.file-tree-visualiser {
	background-color: #242424;
}

div.file-tree-visualiser svg .node circle {
	fill: #F3F3FF;
	stroke: #2593B8;
	stroke-width: 1.5px;
}

div.file-tree-visualiser svg .node text {
	font-size: 11px;
	background-color: #444;
	fill: #F4F4F4;
	text-shadow: 0 1px 4px black;
}

div.file-tree-visualiser svg .node {
	cursor: pointer;
}

div.file-tree-visualiser svg path.link {
	fill: none;
	stroke: #2593B8;
	stroke-width: 1.5px;
}
