@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,100);

html, body {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	font-family: 'Roboto', sans-serif;
	background:#242424;
	overflow: hidden;
	text-align: justify;
}
